*{
   
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header video{
    position: relative;
    display: none;
}
nav ul {
    background:#2196f3;
    text-align: center;
    list-style: none;
    overflow: hidden;
    display: block;
    } 
.Barra{
    position:absolute;
}
.Barra li{
    position: relative;
    display: inline-block;
    padding: 20px;
    left: 30%;
    transition: all ease-in-out 250ms;
}

ul li {
    display: inline-block;
    padding: 20px;
    left: 30%;
    transition: all ease-in-out 250ms;
    }
    nav ul li a:hover{
        color: rgb(247, 242, 245);
        }

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    }

.hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
    }
    
    .V video{
        display: block;
    }





footer{
    top: 100%;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul{
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 20px 8%;
    display: flex;
    background-color: #2196f3;
}


footer ul li{
display: inline-block;
margin-left: 55px;
}











@media screen and (max-width: 768px){

    /* Video */
    header video{
        display: none;
    }
    .V video{
        display: block;
    }


    /* B arra responsiva */
    ul li {
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    
    ul li {
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    
    nav ul {
        display: none;
    
    }
    .hide{
        display: block;
        background-color: #2196f3;
    }




footer{
    top: 1100px;
    width: 100%;
    margin: 0px;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    }


    }
